.btn-outline-info {
  color: #054F94;
  border-color: #054F94;
}

.btn-outline-secondary {
  color: #51575D;
  border-color: #51575D;
}

.btn-outline-success {
  color: #115F39;
  border-color: #115F39;
}