.table {
  --bs-table-bg: transparent;
  --bs-table-accent-bg: transparent;
  --bs-table-striped-color: #212529;
  --bs-table-striped-bg: rgba(0, 0, 0, 0.05);
  --bs-table-active-color: #212529;
  --bs-table-active-bg: rgba(0, 0, 0, 0.1);
  --bs-table-hover-color: #212529;
  --bs-table-hover-bg: rgba(0, 0, 0, 0.075);
  width: 100%;
  margin-bottom: 1rem;
  color: $primary-color;
  vertical-align: top;
  border-color: #dee2e6;
}

.dataTable-top {
  display: flex;
  justify-content: space-between;
  label {
    font-size: 1.25rem;
  }
}

.dataTable-bottom {
  display: flex;
  justify-content: space-between;
  .dataTable-pagination-list {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: unset;
  }
}
.dataTable-pagination a {
  border: 1px solid transparent;
  float: left;
  margin-left: 2px;
  padding: 3px 6px;
  position: relative;
  text-decoration: none;
  color: $white;
  background-color: $dark;
}

.dataTable-pagination .active a {
  background-color: $green;
  cursor: default;
}
