{% extends 'base.html.twig' %}

{% block title %}{{ parent() }} - Calendrier de concerts{% endblock %}

{% block body %}
    <div class="banner-picture"
         style="background-image: url('{{ asset('build/osso-calendar.jpg') }}')">
    </div>
    <h1 class="text-light text-center fs-1 my-lg-4">Calendrier des concerts</h1>
    <section id="calendar"></section>
    <h2 class="text-light text-center fs-2">Nos concerts à venir</h2>


{% endblock %}
