{% extends 'base.html.twig' %}

{% block title %}{{ parent() }} - Calendrier de concerts{% endblock %}

{% block body %}
    <div class="banner-picture"
         style="background-image: url('{{ asset('build/osso-calendar.jpg') }}')">
    </div>
    <h1 class="text-light text-center fs-1 my-lg-4">Calendrier de concerts</h1>
{% endblock %}
