{% extends 'base.html.twig' %}

{% block title %}{{ parent() }} - Accueil{% endblock %}

{% block body %}
    <div class="banner-picture"
         style="background-image: url('{{ asset('build/pic-du-midi-dossau.jpg') }}')">
    </div>

    <section class="main-title d-flex flex-column min-vh-100 justify-content-center align-items-center">
        <h1>Bienvenue sur le site de l'Orchestre Symphonique du Sud Ouest</h1>
    </section>

{% endblock %}
