{% extends 'base.html.twig' %}

{% block title %}OSSO{% endblock %}

{% block body %}
    <img src="{{ asset('build/pic-du-midi-dossau.jpg') }}" alt="pic du midi d'ossau">
    <h1>Bienvenue sur le site de l'Orchestre symphonique du Sud Ouest</h1>
{% endblock %}
