{% extends 'base.html.twig' %}

{% block title %}{{ parent() }} - répertoire musical{% endblock %}

{% block body %}

    <div class="banner-musical-work"></div>

    <h1 class="text-light text-center fs-1 fw-bold my-lg-4 text-uppercase">Notre répertoire musical</h1>
    <div  class="table-responsive mx-lg-5 mx-md-4">

        <table id="osso-repertory" class="table bg-blue table-striped table-hover">
            <thead>
            <tr>
                <th scope="col">Oeuvre</th>
                <th scope="col">Compositeur</th>
                <th scope="col">Statut</th>
            </tr>
            </thead>
            <tbody>
            {% for sheet in repertory %}
                <tr>
                    <td>{{ sheet.title }}</td>
                    <td>{{ sheet.compositor }}</td>
                    <td>{{ sheet.status }}</td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>

{% endblock %}
