<form method="post" action="{{ path('app_musician_crud_delete', {'id': musician.id}) }}" onsubmit="return confirm('Êtes vous sûr de vouloir supprimer ce musicien ?');">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ musician.id) }}">
    <button class="btn btn-outline-danger">Supprimer</button>
</form>
