{% extends './admin/base.html.twig' %}

{% block title %}{{ parent() }} - Éditer musicien{% endblock %}

{% block body %}
    <h1 class="text-center">Éditer un musicien</h1>

    {{ include('/admin/musician_crud/_form.html.twig', {'button_label': 'Mettre à jour'}) }}
    <div class="btn-group" role="group" aria-label="edit musician">
        <a class="btn btn-outline-secondary" href="{{ path('app_musician_crud_index') }}">Retour à la liste</a>
        {{ include('/admin/musician_crud/_delete_form.html.twig') }}
    </div>

{% endblock %}
