{% extends '../../base.html.twig' %}

{% block title %}New Musician{% endblock %}

{% block body %}
    <h1>Create new Musician</h1>

    {{ include('musician_crud/_form.html.twig') }}

    <a href="{{ path('app_musician_crud_index') }}">back to list</a>
{% endblock %}
