{% extends 'base.html.twig' %}

{% block title %}{{ parent() }} - Envoi d'email de réinitialisation de mot de passe{% endblock %}

{% block body %}
    <div class="container-fluid">
        <div class="row">
            <div class="col-12 mt-5 col-md-8 col-lg-6 mx-auto">
                <p class="text-light fs-4">
                    Si un compte associé à cet email existe, alors un lien vous sera envoyé afin de réinitialiser votre mot de passe. Ce lien expirera dans {{ resetToken.expirationMessageKey|trans(resetToken.expirationMessageData, 'ResetPasswordBundle') }}.
                </p>
                <p class="text-light fs-4">Si vous ne recevez pas d'email, veuillez regarder dans vos spams ou <a href="{{ path('app_forgot_password_request') }}">essayez encore</a>.</p>
            </div>
        </div>
    </div>

{% endblock %}
