{% extends 'admin/base.html.twig' %}

{% block title %}{{ parent() }} Nouvelle galerie{% endblock %}

{% block body %}
    <h1 class="text-center">Création d'une nouvelle galerie de photos</h1>
    {{ include('admin/gallery_crud/_form.html.twig') }}

    <a class="btn btn-outline-secondary" href="{{ path('app_gallery_crud_index') }}">Revenir à la liste</a>
{% endblock %}
