{% extends 'admin/base.html.twig' %}

{% block title %}New Gallery{% endblock %}

{% block body %}
    <h1>Create new Gallery</h1>
    {{ include('admin/gallery_crud/_form.html.twig') }}

    <a href="{{ path('app_gallery_crud_index') }}">back to list</a>
{% endblock %}
