{% extends 'base.html.twig' %}

{% block title %}{{ parent() }} - Instruments{% endblock %}

{% block body %}
    <div class="banner-picture"
         style="background-image: url('{{ asset('build/musicians_banner.jpg') }}')">
    </div>

    <h1 class="text-light text-center fs-1 my-lg-4">Les musiciens</h1>


<section class="container">
    <div  class="row row-cols-1 row-cols-sm-2 row-cols-lg-4 g-3 mb-lg-5">
        {% for instrument in instruments %}
            <div class="col">
                <div class="card shadow-sm">
                    <div class="card-body">
                        <h3 class="card-title">{{ instrument.name|upper }}</h3>
                        <div class="d-flex justify-content-center align-items-center flex-column">
                            <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#exampleModal">
                                Launch demo modal
                            </button>
                        </div>
                    </div>
                </div>
            </div>
{{ include('musician/_musicians_instrument.html.twig') }}
        {% endfor %}
    </div>
</section>



{% endblock %}
