<IfModule mod_rewrite.c>
    RewriteEngine On

    # Redirection vers HTTPS si la connexion est en HTTP
    RewriteCond %{HTTPS} off
    RewriteRule ^ https://%{HTTP_HOST}%{REQUEST_URI} [L,R=301]

    # Redirection vers le fichier front controller de Symfony
    RewriteCond %{REQUEST_FILENAME} !-f
    RewriteRule ^(.*)$ public/index.php [QSA,L]
</IfModule>

# Désactiver la génération des index de répertoire
Options -Indexes

# Désactiver le suivi de lien symbolique pour des raisons de sécurité
Options -FollowSymLinks

# Empêcher l'affichage des fichiers .htaccess par les navigateurs
<Files .htaccess>
    Require all denied
</Files>

# Désactiver l'affichage des erreurs
<IfModule mod_php5.c>
    php_flag display_errors Off
</IfModule>
<IfModule mod_php7.c>
    php_flag display_errors Off
</IfModule>
