{% extends 'base.html.twig' %}

{% block title %}Hello PressController!{% endblock %}

{% block body %}
    <div class="banner-picture"
         style="background-image: url('{{ asset('build/press-banner.jpg') }}')">
    </div>
{% endblock %}
