{% extends 'base.html.twig' %}

{% block title %}Hello PressController!{% endblock %}

{% block body %}
    <div class="banner-picture"
         style="background-image: url('{{ asset('build/press-banner.jpg') }}')">
    </div>
    <h1 class="text-light text-center fs-1 fw-bold my-lg-4 text-uppercase">médias</h1>
{% endblock %}
