<form method="post" action="{{ path('app_instrument_crud_delete', {'id': instrument.id}) }}" onsubmit="return confirm('Etes vous sûr de vouloir supprimer cet instrument ?');">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ instrument.id) }}">
    <button class="btn btn-outline-danger">Delete</button>
</form>
