{% extends '/admin/base.html.twig' %}

{% block title %}{{ parent() }} - Éditer un instrument{% endblock %}

{% block body %}
    <h1 class="text-center">Éditer un instrument</h1>

    {{ include('/admin/instrument_crud/_form.html.twig', {'button_label': 'Mettre à jour'}) }}
    <div class="btn-group" role="group" aria-label="edit instrument">
        <a class="btn btn-outline-secondary" href="{{ path('app_instrument_crud_index') }}">Revenir à la liste</a>
        {{ include('/admin/instrument_crud/_delete_form.html.twig') }}
    </div>

{% endblock %}
