<form method="post" action="{{ path('app_event_crud_delete', {'id': event.id}) }}" onsubmit="return confirm('Êtes vous sûre de vouloir supprimer cet évenement ?');">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ event.id) }}">
    <button class="btn btn-outline-danger">Supprimer</button>
</form>
