{% extends './admin/base.html.twig' %}

{% block title %}{{ parent() }} - Nouvel évenement{% endblock %}

{% block body %}
    <h1>Créer un nouvel évenement</h1>

    {{ include('/admin/event_crud/_form.html.twig') }}

    <a class="btn btn-outline-secondary" href="{{ path('app_event_crud_index') }}">Revenir à la liste</a>
{% endblock %}
