<form method="post" action="{{ path('app_press_crud_delete', {'id': press.id}) }}" onsubmit="return confirm('Êtes vous sure de vouloir supprimer cet article de presse ?');">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ press.id) }}">
    <button class="btn btn-outline-danger">Supprimer</button>
</form>
