{% extends 'admin/base.html.twig' %}

{% block title %}{{ parent() }} - Nouvel article{% endblock %}

{% block body %}
    <h1 class="text-center">Ajouter un nouvel article de presse</h1>

    {{ include('admin/press_crud/_form.html.twig') }}

    <a class="btn btn-outline-secondary mt-lg-2" href="{{ path('app_press_crud_index') }}">Revenir à la liste</a>
{% endblock %}
