<div class="modal fade " id="instrument-modal_{{ instrument.id }}" tabindex="-1" aria-labelledby="instrumentModalLabel"
     aria-hidden="true">
    <div class="modal-dialog modal-fullscreen-md-down modal-dialog-centered modal-dialog-scrollable">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="instrumentModalLabel">{{ instrument.name }}</h5>
            </div>
            <div class="modal-body text-center">
                <ul>
                    {% if instrument.musicians is empty %}
                    <p class="text-center text-light fs-4">{{ "Aucun musicien actuellement" }}</p>
                    {% endif %}
                    {% for musician in instrument.musicians %}
                        <li>{{ musician }}</li>
                    {% endfor %}
                </ul>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-info" data-bs-dismiss="modal">Fermer</button>
            </div>
        </div>
    </div>
</div>
