{% extends 'admin/base.html.twig' %}

{% block title %}New Contenu{% endblock %}

{% block body %}
    <h1>Create new Contenu</h1>

    {{ include('admin/contenu_crud/_form.html.twig') }}

    <a href="{{ path('app_contenu_crud_index') }}">back to list</a>
{% endblock %}
