{% extends 'base.html.twig' %}

{% block title %}{{ parent() }} - galeries photo{% endblock %}

{% block body %}
    <ul>
        {% for gallery in galleries %}
            <li>
                <a class="text-light text-center"
                   href="{{ path('gallery_show', {'galleryTitle': gallery.title}) }}">{{ gallery.title }}</a>
            </li>
        {% endfor %}
    </ul>
    <a href="{{ path('press_index') }}" class="btn btn-info">Retour</a>

{% endblock %}
