.btn-toggle[aria-expanded="true"]::before {
  transform: rotate(90deg);
}

.btn-toggle::before {
  width: 1.25em;
  line-height: 0;
  content: "➡";
  transition: transform .35s ease;
  transform-origin: .5em 50%;
}

.btn-info {
  background-color: $blue-800;
  color: $white;
  border: none;
}

.btn-primary {
  text-transform: uppercase;
  color: $white;
  background-color: $blue-800;

  &:active {
    background-color: $white;
    color: $dark;
  }
}

.btn-primary.active {
  background-color: $white;
  color: $dark;
}