.card {
  background-color: $secondary;
  &#contact-form {
    margin-bottom: 1rem;
  }
}


.text-bg-secondary {
  color: #FFFFFF !important;
}

.card-title {
  text-align: center;
  margin-bottom: 1rem;
  color: #FFFFFF;
}

.card-text {
  text-align: left;
}

.card-img-top {
  max-height: 20vw;
}