.banner-picture {
  background-size: cover;
  min-height: 30vh;
  background-repeat: no-repeat;
  background-position: center;
}


.text-light {
  --bs-text-opacity: 1;
  color: rgba($white, var(--bs-text-opacity)) !important;
}