.banner-picture {
  background-size: cover;
  min-height: 30vh;
  background-repeat: no-repeat;
  background-position: center;
}

.btn-primary {
  text-transform: uppercase;
  color: $white;
  background-color: $blue-800;

  &:active {
    background-color: $white;
    color: $dark;
  }
}

.btn-primary.active {
  background-color: $white;
  color: $dark;
}

body {
  display: grid;
  grid-template-columns: 0.3fr 1.7fr;
  grid-template-rows: 2.2fr 0.1fr;
  gap: 0px 0px;
  grid-auto-flow: row;
  grid-template-areas:
    "sidebar main"
    "footer footer";
}

.sidebar {
  grid-area: sidebar;
}

.footer {
  grid-area: footer;
}

.main {
  grid-area: main;
}
