.banner-picture {
  background-size: cover;
  min-height: 30vh;
  background-repeat: no-repeat;
  background-position: center;
}

.btn-primary {
  text-transform: uppercase;
  color: $white;
  background-color: $blue-800;

  &:active {
    background-color: $white;
    color: $dark;
  }
}

.btn-primary.active {
  background-color: $white;
  color: $dark;
}