body {
  background-color: $primary;
}

.main-title h1 {
  font-family: $font-family-sans-serif;
  color: $white;
  margin-top: 3rem;
  margin-right: 1rem;
  margin-left: 1rem;
}

@media screen and (min-width: 576px) and (max-width: 1024px){
  .main-title h1 {
    margin-top: 5rem;
    margin-right: 5rem;
    margin-left: 5rem;
  }
}

@media screen and (min-width: 1025px){
  .main-title h1 {
    margin-top: 10rem;
    margin-right: 5rem;
    margin-left: 5rem;
  }
}