.modal-content {
  background-color: $secondary;

}
.modal-header {
  justify-content: center;
}
.modal-title {
  color: color-contrast($secondary, $white, #fff);
}
.modal-body {
  text-align: left;
  color: color-contrast($secondary, $white, #fff);
}