.banner-presentation {
  background-size: cover;
  min-height: 25vh;
  background-repeat: no-repeat;
  background-position: center;
  background-image: url("/home/taglialatela/Documents/site Web OSSO/osso_website/assets/images/osso-picture.webp");
}