.banner-presentation {
  background-size: cover;
  min-height: 30vh;
  background-repeat: no-repeat;
  background-position-y: 30%;
  background-image: url("/home/taglialatela/Documents/site Web OSSO/osso_website/assets/images/osso-picture.jpg");
}