.table {
  width: 100%;
  border-radius: 20px;
  border-bottom: hidden !important;
  margin: 0 auto;
}

.bg-blue {
  background-color: $secondary;
  color: #FFFFFF;
}

//mise en forme de simple-datatables format mobile
.dataTable-top {
  display: flex;
  flex-direction: column;
  align-items: center;

  label {
    color: $white;
    font-family: $font-family-sans-serif;
  }
}

a {
  color: $white;
}

.dataTable-bottom {
  display: flex;
  flex-direction: column;
  align-items: center;

  .dataTable-info {
    color: $white;
    font-family: $font-family-sans-serif;
  }

  .dataTable-pagination-list {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: unset;
  }
}

.dataTable-pagination a {
  border: 1px solid transparent;
  float: left;
  margin-left: 2px;
  padding: 3px 6px;
  position: relative;
  text-decoration: none;
  color: $dark;
  background-color: $white;
}

.dataTable-pagination .active a {
  background-color: $green;
  cursor: default;
}
