.table {
  width: 100%;
  border-radius: 20px;
  border-bottom: hidden!important;
  margin: 0 auto;
}
.bg-blue {
  background-color: $secondary;
  color: #FFFFFF;
}
label, .dataTables_info {
  color: $white;
}

table.dataTable thead .sorting,
table.dataTable thead .sorting_asc,
table.dataTable thead .sorting_desc {
  background: none;
}

div.dataTables_wrapper {
  margin: 0 auto;
  width: 80%;
}

.dataTables_filter, .dataTables_length {
  display: flex;
  justify-content: center;
  text-align: center;
}
.dataTables_info {
  text-align: center;
}

.pagination {
  display: flex;
  padding-left: 0;
  list-style: none;
  justify-content: center;
}