.table {
  width: 100%;
  border-radius: 20px;
  border-bottom: hidden !important;
  margin: 0 auto;
}

.bg-blue {
  background-color: $secondary;
  color: #FFFFFF;
}

//mise en forme de simple-datatables format mobile
.dataTable-top {
  display: flex;
  flex-direction: column;
  align-items: center;
  label {
    color: $white;
    font-family: $font-family-sans-serif;
  }
}

a {
  color: inherit;
}

.asc .dataTable-sorter::after, .desc .dataTable-sorter::before {
  opacity: 0.6;
}

.dataTable-sorter {
  display: inline-block;
  height: 100%;
  position: relative;
  width: 100%;
  &::before {
    border-top: 4px solid $green;
    bottom: 0;
    content: "";
    height: 0;
    width: 0;
    position: absolute;
    right: 4px;
    border-left: 4px solid transparent;
    border-right: 4px solid transparent;
    opacity: 0.6;
  }
  &::after {
    border-bottom: 4px solid $green;
    border-top: 4px solid transparent;
    top: 0;
    content: "";
    height: 0;
    width: 0;
    position: absolute;
    right: 4px;
    border-left: 4px solid transparent;
    border-right: 4px solid transparent;
    opacity: 0.6;
  }
}

.dataTable-bottom {
  display: flex;
  flex-direction: column;
  align-items: center;

  .dataTable-info {
    color: $white;
    font-family: $font-family-sans-serif;
  }

  .dataTable-sorter {
    display: inline-block;
    height: 100%;
    position: relative;
    width: 100%;
  }

  .dataTable-pagination-list {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: unset;
  }
}

.dataTable-pagination a {
  border: 1px solid transparent;
  float: left;
  margin-left: 2px;
  padding: 3px 6px;
  position: relative;
  text-decoration: none;
  color: $dark;
  background-color: $white;
}

.dataTable-pagination .active a {
  background-color: $green;
  cursor: default;
}

//version desktop
@media screen and (min-width: 426px) {
  .dataTable-top {
    flex-direction: row;
    justify-content: space-between;
    label {
      font-size: 1.25rem;
    }
  }
  .dataTable-bottom {
    flex-direction: row;
    justify-content: space-between;
  }
  .dataTable-info {
    font-size: 1.25rem;
  }
  .dataTable-pagination a {
    font-size: 1.25rem;
  }
}