{% extends 'base.html.twig' %}

{% block title %}{{ parent() }} - Contact{% endblock %}

{% block body %}
<div class="container-fluid">
    <h1 class="text-light text-center fs-1 text-capitalize fw-bold my-lg-4">formulaire de contact</h1>
</div>


{% endblock %}
