<footer class="d-flex flex-row flex-sm-row justify-content-between py-4 my-4">

    <ul class="list-unstyled d-flex">
        <li class="ms-3"><a class="link-light" href="#"><svg class="bi" width="24" height="24"><use xlink:href="#twitter"></use></svg></a></li>
        <li class="ms-3"><a class="link-light" href="#"><svg class="bi" width="24" height="24"><use xlink:href="#instagram"></use></svg></a></li>
        <li class="ms-3"><a class="link-light" href="#"><svg class="bi" width="24" height="24"><use xlink:href="#facebook"></use></svg></a></li>
    </ul>

        <p class="text-light mt-5">© {{ "now"|date('Y') }} OSSO</p>


    <a href="#" class="link-light me-lg-5 mt-5">Mentions légales</a>
</footer>