{% extends "base.html.twig" %}
{% block title %}{{ parent() }} - Protection des données personnelles{% endblock %}

{% block body %}
<h1 class="text-center text-light">Protection des données personnelles</h1>
{% endblock %}