{% extends "base.html.twig" %}
{% block title %}{{ parent() }} - Politique de confidentialité{% endblock %}

{% block body %}
    <h1 class="text-light text-center mt-5 mb-3">Politique de confidentialité</h1>
    <p class="text-light text-center">Site internet OSSO</p>
    <section class="container-fluid">
        <div class="row">
            <div class="col-12 col-lg-6 mx-lg-auto">
                <h2 class="text-light text-center text-uppercase">article 1 : préambule</h2>
                <p class="text-light">La présente politique de confidentialité a pour but d’informer les utilisateurs du
                    site :</p>
                <ul>
                    <li class="text-light rgpd">Sur la manière dont sont collectées leurs données personnelles. Sont
                        considérées comme des
                        données personnelles, toute information permettant d’identifier un utilisateur. À ce titre, il
                        peut s’agir : de ses noms et prénoms, de son âge, de son adresse postale ou email, de sa
                        localisation ou encore de son adresse IP (liste non-exhaustive) ;
                    </li>
                    <li class="text-light rgpd">Sur les droits dont ils disposent concernant ces données ;</li>
                    <li class="text-light rgpd">Sur la personne responsable du traitement des données à caractère
                        personnel
                        collectées et traitées ;
                    </li>
                    <li class="text-light rgpd">Sur les destinataires de ces données personnelles ;</li>
                    <li class="text-light rgpd">Sur la politique du site en matière de cookies.</li>
                </ul>
                <p class="text-light">Cette politique complète les mentions légales consultables par les utilisateurs à
                    l’adresse suivante : <a href="{{ path('app_legal') }}" class="text-light">Mentions légales</a></p>

                <h2 class="text-center text-light text-uppercase">ARTICLE 2 : PRINCIPES RELATIFS À LA COLLECTE ET AU
                    TRAITEMENT DES DONNÉES PERSONNELLES</h2>
                <p class="text-light">Conformément à l’article 5 du Règlement européen 2016/679, les données à caractère
                    personnel sont :</p>
                <ul>
                    <li class="text-light rgpd">Traitées de manière licite, loyale et transparente au regard de la
                        personne
                        concernée ;
                    </li>
                    <li class="text-light rgpd">Collectées pour des finalités déterminées (cf. Article 3.1 des
                        présentes),
                        explicites et légitimes, et ne pas être traitées ultérieurement d'une manière incompatible avec
                        ces finalités ;
                    </li>
                    <li class="text-light rgpd">Adéquates, pertinentes et limitées à ce qui est nécessaire au regard des
                        finalités pour lesquelles elles sont traitées ;
                    </li>
                    <li class="text-light rgpd">Exactes et, si nécessaire, tenues à jour. Toutes les mesures
                        raisonnables
                        doivent être prises pour que les données à caractère personnel qui sont inexactes, eu égard aux
                        finalités pour lesquelles elles sont traitées, soient effacées ou rectifiées sans tarder ;
                    </li>
                    <li class="text-light rgpd">Conservées sous une forme permettant l'identification des personnes
                        concernées pendant une durée n'excédant pas celle nécessaire au regard des finalités pour
                        lesquelles elles sont traitées ;
                    </li>
                    <li class="text-light rgpd">Traitées de façon à garantir une sécurité appropriée des données
                        collectées,
                        y compris la protection contre le traitement non autorisé ou illicite et contre la perte, la
                        destruction ou les dégâts d'origine accidentelle, à l'aide de mesures techniques ou
                        organisationnelles appropriées.
                    </li>
                </ul>
                <p class="text-light">Le traitement n'est licite que si, et dans la mesure où, au moins une des
                    conditions suivantes est remplie :</p>
                <ul>
                    <li class="text-light rgpd">La personne concernée a consenti au traitement de ses données à
                        caractère
                        personnel pour une ou plusieurs finalités spécifiques ;
                    </li>
                    <li class="text-light rgpd">Le traitement est nécessaire à l'exécution d'un contrat auquel la
                        personne
                        concernée est partie ou à l'exécution de mesures précontractuelles prises à la demande de
                        celle-ci ;
                    </li>
                    <li class="text-light rgpd">Le traitement est nécessaire au respect d'une obligation légale à
                        laquelle le
                        responsable du traitement est soumis ;
                    </li>
                    <li class="text-light rgpd">Le traitement est nécessaire à la sauvegarde des intérêts vitaux de la
                        personne concernée ou d'une autre personne physique ;
                    </li>
                    <li class="text-light rgpd">Le traitement est nécessaire à l'exécution d'une mission d'intérêt
                        public ou
                        relevant de l'exercice de l'autorité publique dont est investi le responsable du traitement ;
                    </li>
                    <li class="text-light rgpd">Le traitement est nécessaire aux fins des intérêts légitimes poursuivis
                        par
                        le responsable du traitement ou par un tiers, à moins que ne prévalent les intérêts ou les
                        libertés et droits fondamentaux de la personne concernée qui exigent une protection des données
                        à caractère personnel, notamment lorsque la personne concernée est un enfant.
                    </li>
                </ul>
                <h2 class="text-light text-center text-uppercase">ARTICLE 3 : DONNÉES À CARACTÈRE PERSONNEL COLLECTÉES
                    ET TRAITÉES DANS LE CADRE DE LA NAVIGATION SUR LE SITE</h2>
                <h3 class="text-light fw-bold">Article 3.1 : Données collectées</h3>
                <p class="text-light">Les données personnelles collectées dans le cadre de notre activité sont les
                    suivantes :</p>
                <ul>
                    <li class="text-light rgpd">Le nom et le prénom ;</li>
                    <li class="text-light rgpd">l'adresse de courrier électronique ;</li>
                    <li class="text-light rgpd">le numéro de téléphone.</li>
                </ul>
                <p class="text-light">La collecte et le traitement de ces données répond aux finalités
                    suivantes : </p>
                <ul>
                    <li class="text-light rgpd">le traitement du formulaire de contact ;</li>
                    <li class="text-light rgpd">le traitement formulaire de candidature</li>
                </ul>
                <h3 class="text-light fw-bold">Article 3.2 : Mode de collecte des données </h3>
                <p class="text-light">Vos données personnelles sont collectées lorsque vous effectuez les opérations
                    suivantes sur la plateforme :</p>
                <ul>
                    <li class="text-light rgpd">en cliquant sur le bouton envoyer du formulaire de contact : votre
                        e-mail est enregistré afin de pouvoir répondre
                        à votre demande.
                    </li>
                    <li class="text-light rgpd">En cliquant sur le bouton envoyer du formulaire de candidature, vos
                        noms, prénoms, e-mail et
                        numéros de téléphone sont alors enregistrés. Ceux-ci nous sont nécessaires afin de pouvoir gérer
                        la liste de nos
                        adhérents.
                    </li>
                </ul>
                <p class="text-light">Elles sont conservées par le responsable du traitement dans des conditions
                    raisonnables de sécurité pour une durée maximale de 2 ans concernant le formulaire de candidature ou
                    avant si l'utilisateur en fait la demande. Dans le cas du formulaire de contact, les données
                    transmises, nom et e-mail sont supprimées immédiatement après traitement du formulaire. </p>
                <p class="text-light">L'OSSO est susceptible de conserver certaines données à caractère personnel
                    au-delà des délais annoncés ci-dessus afin de remplir ses obligations légales ou réglementaires.</p>
                <h3 class="text-light fw-bold">Article 3.3 : Hébergement des données</h3>
                <p class="text-light">Le site http://127.0.0.1:8000/ est hébergé par :</p>
                <address class="text-light"><strong>O2switch</strong> <br> 222-224 Boulevard Gustave Flaubert <br>63000
                    Clermont-Ferrand
                    <br>tél : 0444446040 ; <br> e-mail : commercial@o2switch.fr
                </address>
                <h2 class="text-light text-center text-uppercase">ARTICLE 4 : RESPONSABLE DU TRAITEMENT DES DONNÉES ET
                    DÉLÉGUÉ À LA PROTECTION DES DONNÉES</h2>
                <h3 class="text-light fw-bold">Article 4.1 : Le responsable du traitement des données </h3>
                <p class="text-light">Les données à caractère personnelles sont collectées par l'Orchestre Symphonique
                    du sud ouest (OSSO), association loi 1901, dont le numéro d’immatriculation RNA est le
                    W643002505.</p>
                <p class="text-light">Le responsable du traitement des données à caractère personnel peut être contacté
                    de la manière suivante :
                    <br> par courrier à l'adresse suivante : </p>
                <address class="text-light">
                    Orchestre symphonique du sud ouest <br>
                    numéro et nom de rue <br>
                    code postal ville
                </address>
                <p class="text-light">
                    par téléphone au : (insérer le numéro de téléphone du président) <br>
                    par email : baud_jb@yahoo.fr
                </p>
                <h3 class="text-light fw-bold">Article 4.2 : Le délégué à la protection des données</h3>
                <p class="text-light">Le délégué à la protection des données de l'association est :</p>
                <address class="text-light">
                    Thibaut-Louis Taglialatela <br>
                    1 impasse Berlioz, les jardins de Berlioz, Bâtiment C7 <br>
                    64000 Pau <br>
                    Portable : 06 73 59 23 83 <br>
                    email : thibauttaglialatela@gmail.com
                </address>
                <p class="text-light">Si vous estimez, après nous avoir contactés, que vos droits “Informatique et
                    Libertés”, ne sont pas respectés, vous pouvez adresser une information à la CNIL.</p>
                <h2 class="text-light text-center text-uppercase">ARTICLE 5 : LES DROITS DE L’UTILISATEUR EN MATIÈRE DE
                    COLLECTE ET DE TRAITEMENT DES DONNÉES</h2>
                <p class="text-light">Tout utilisateur concerné par le traitement de ses données personnelles peut se
                    prévaloir des droits suivants, en application du règlement européen 2016/679 et de la Loi
                    Informatique et Liberté (Loi 78-17 du 6 janvier 1978) :</p>
                <ul>
                    <li class="text-light rgpd">Droit d’accès, de rectification et droit à l’effacement des données
                        (posés
                        respectivement aux articles 15, 16 et 17 du RGPD) ;
                    </li>
                    <li class="text-light rgpd">Droit à la portabilité des données (article 20 du RGPD) ;</li>
                    <li class="text-light rgpd">Droit à la limitation (article 18 du RGPD) et à l’opposition du
                        traitement
                        des données (article 21 du RGPD) ;
                    </li>
                    <li class="text-light">Droit de ne pas faire l’objet d’une décision fondée exclusivement sur un
                        procédé automatisé ;
                    </li>
                    <li class="text-light rgpd">Droit de déterminer le sort des données après la mort ;</li>
                    <li class="text-light rgpd">Droit de saisir l’autorité de contrôle compétente (article 77 du
                        RGPD).
                    </li>
                </ul>
                <p class="text-light">Pour exercer vos droits, veuillez adresser votre courrier à [OSSO et adresse de
                    l’OSSO] ou par mail à thibauttaglialatela@gmail.com .
                </p>
                <p class="text-light">
                    Afin que le responsable du traitement des données puisse faire droit à sa demande, l’utilisateur
                    peut être tenu de lui communiquer certaines informations telles que : ses noms et prénoms, son
                    adresse e-mail. <br>
                    Consultez le site cnil.fr pour plus d’informations sur vos droits.
                </p>
                <h2 class="text-light text-center text-uppercase">ARTICLE 6 : CONDITIONS DE MODIFICATION DE LA POLITIQUE
                    DE CONFIDENTIALITÉ </h2>
                <p class="text-light">
                    L’éditeur du site [osso64.fr] se réserve le droit de pouvoir modifier la présente Politique à tout
                    moment afin d’assurer aux utilisateurs du site sa conformité avec le droit en vigueur.
                </p>
                <p class="text-light">
                    L’utilisateur est invité à prendre connaissance de cette Politique à chaque fois qu’il utilise nos
                    services, sans qu’il soit nécessaire de l’en prévenir formellement.
                </p>
                <p class="text-light">
                    La présente politique, éditée le [date de mise en ligne], a été mise à jour le [date de modification
                    de la politique].
                </p>
            </div>
        </div>
    </section>
{% endblock %}