{% extends 'base.html.twig' %}
{% block title %}{{ parent() }} - Notice d'information RGPD{% endblock %}

{% block body %}
    <h1 class="text-light text-center mt-5 mb-3">Notice d'information concernant le réglement général de protection des
        données</h1>
    <div class="container-fluid">
        <div class="row">
            <div class="col-12 col-lg-8 mx-lg-auto">
                <p class="text-light fs-4"><span>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Animi blanditiis delectus dicta explicabo ipsa, iure maiores nisi nulla numquam omnis perferendis provident quaerat quia rerum sunt suscipit unde ut voluptates?</span><span>Alias amet aut beatae commodi delectus deleniti ea eius esse ex explicabo facilis fugit incidunt magnam non, odit optio provident, quam quas reiciendis repellendus sapiente sint temporibus veniam voluptas, voluptates.</span><span>Accusantium adipisci amet, autem cumque dolore error harum in ipsum itaque iusto modi molestias natus necessitatibus nisi odio odit pariatur possimus quis quo, quos sequi temporibus vel velit veritatis vitae!</span><span>Aliquam amet aspernatur ducimus exercitationem, in, labore libero nobis odit officiis quidem quo repellendus repudiandae sit sunt unde voluptatem voluptatibus. Assumenda, at laboriosam nostrum recusandae sequi ut voluptatum! Earum, ex.</span><span>Adipisci asperiores at commodi delectus dolor doloremque doloribus dolorum eaque explicabo, ipsam labore libero maiores molestias mollitia nam provident, ratione sapiente tempore temporibus unde veniam vero vitae voluptatum. Cum, doloribus.</span>
                </p>
            </div>
        </div>
    </div>

{% endblock %}