{% extends 'base.html.twig' %}
{% block title %}{{ parent() }} - Mentions légales{% endblock %}

{% block body %}
    <h1 class="text-light text-center mt-5 mb-3">Mentions légales</h1>
    <div class="container-fluid">
        <div class="row">
            <div class="col-12 col-lg-8 mx-lg-auto">
                <h2 class="text-light">Nom de l'association : Orchestre Symphonique du Sud Ouest</h2>
                <h3 class="text-light">Adresse</h3>
                <address class="text-light">
                    9 rue de l'Abbé Ludovic Gaurier <br>
                    64000 Pau <br>
                    <strong>Tél : </strong>0674399636 <br>
                    <strong>Courriel : </strong>orchestreosso@gmail.com
                </address>
                <h3 class="text-light">Directeur de publication</h3>
                <p class="text-light">Jean-Baptiste Baudran</p>
                <h3 class="text-light">Hébergeur du site : O2switch</h3>
                <p class="text-light"><strong>Raison sociale : </strong>O2switch</p>
                <address class="text-light">
                    Siret : 510 909 807 00024 <br>
                    RCS Clermont Ferrand <br>
                    SARL au capital de 100 000€ <br>
                    Opérateur Télécom déclaré ARCEP <br>
                    09/2989 – AS50474 <br>
                    Marque déposée INPI : 09 3 645 279 <br>
                </address>
                <h2 class="text-light">Politique de confidentialité</h2>
                <p class="text-light">Les informations recueillies sur ce formulaire sont enregistrées dans un fichier
                    informatisé par <strong>Thibaut-Louis Taglialatela <em>thibauttaglialatela@gmail.com</em></strong>
                    pour . La base légale du traitement est [base légale du traitement].</p>
            </div>
        </div>
    </div>

{% endblock %}