{% extends 'base.html.twig' %}

{% block title %}{{ parent() }} - Présentation de l'OSSO{% endblock %}

{% block body %}

    <div class="banner-picture"
         style="background-image: url('{{ asset('build/osso-picture.jpg') }}')">
    </div>

    <h1 class="text-light text-center">Présentation de l'orchestre</h1>

    <section class="container-fluid">
        <div class="row">
            <div class="card col-12 col-lg-4 mx-auto">
                <div class="card-body">
                    <h5 class="card-title">Card title</h5>
                    <h6 class="card-subtitle mb-2 text-muted">Card subtitle</h6>
                    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                    <a href="#" class="card-link">Card link</a>
                    <a href="#" class="card-link">Another link</a>
                </div>
            </div>
            <div class="card col-12 col-lg-4 mx-auto">
                <div class="card-body">
                    <h5 class="card-title">Card title</h5>
                    <h6 class="card-subtitle mb-2 text-muted">Card subtitle</h6>
                    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                    <a href="#" class="card-link">Card link</a>
                    <a href="#" class="card-link">Another link</a>
                </div>
            </div>
            <div class="card col-12 col-lg-4 mx-auto">
                <div class="card-body">
                    <h5 class="card-title">Card title</h5>
                    <h6 class="card-subtitle mb-2 text-muted">Card subtitle</h6>
                    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                    <a href="#" class="card-link">Card link</a>
                    <a href="#" class="card-link">Another link</a>
                </div>
            </div>
        </div>
    </section>

{% endblock %}
