{% extends 'base.html.twig' %}

{% block title %}{{ parent() }} - Présentation de l'OSSO{% endblock %}

{% block body %}

    <div class="banner-picture"
         style="background-image: url('{{ asset('build/osso-picture.jpg') }}')">
    </div>

    <h1 class="text-light text-center fs-1 text-uppercase fw-bold my-lg-4">Présentation de l'OSSO</h1>

    <section class="container-fluid">
        <div class="row g-3 d-flex flex-row align-items-lg-baseline">
            <div class=" col-12 col-lg-4 mb-lg-5">
                <div class="card">
                    <h4 class="card-header card-title">A propos de l'Orchestre Symphonique du Sud Ouest</h4>
                    <div class="card-body text-bg-secondary">
                        <p class="card-text">L’Orchestre Symphonique du Sud-ouest a été créé en 2007 par Bernard SALLES
                            afin
                            de faire rayonner la musique classique en l’amenant dans les lieux et les territoires les
                            plus
                            divers de la région de PAU et du grand Sud-ouest.</p>
                        <p class="card-text">Il réunit dans ce même objectif d’ouverture et de partage une soixantaine
                            de
                            musiciens passionnés, amateurs pour la plupart, élèves ou anciens élèves des écoles de
                            musique
                            de la région, encadrés dans un but pédagogique, par des musiciens professionnels.</p>
                        <p class="card-text">Il est dirigé par Alain Perpétue depuis le mois de septembre 2021</p>
                    </div>
                </div>
            </div>
            <div class=" col-12 col-lg-4 mb-lg-5">
                <div class="card">
                    <h4 class="card-title card-header">Biographie d'Alain Perpétue</h4>
                    <div class="card-body text-bg-secondary">
                        <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Alias aliquam
                            animi
                            asperiores dolores ea eligendi eos esse inventore, iure iusto magnam modi optio quo
                            reiciendis
                            sapiente, tempore, totam vero voluptatum!</p>
                        <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Accusamus rem
                            repellendus tenetur! Ad aperiam deserunt dignissimos dolor doloribus excepturi facere ipsam
                            laboriosam, magnam mollitia nam possimus ratione sequi sunt temporibus!</p>
                        <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Amet asperiores
                            blanditiis, corporis delectus dolore dolorum facere fuga hic id libero non odio placeat
                            possimus
                            quaerat quia sapiente similique sit vel.</p>
                    </div>
                </div>
            </div>
            <div class=" col-12 col-lg-4 mb-4">
                <div class="card">
                    <h4 class="card-title card-header">Les membres du bureau</h4>
                    <div class="card-body text-bg-secondary">
                        <ul class="list-unstyled d-flex flex-column justify-content-evenly">
                            <li class="text-center"><strong>Président : </strong><br>Jean-Baptiste BAUDRAN</li>
                            <li class="text-center"><strong>Vice-président : </strong><br>Guillaume RENAUD</li>
                            <li class="text-center"><strong>Trésoriére : </strong><br>Lise LAYEILLON</li>
                            <li class="text-center"><strong>Secrétaire : </strong><br>Anne TERRIERE</li>
                        </ul>

                    </div>
                </div>
            </div>
        </div>
    </section>

{% endblock %}
