<form method="post" action="{{ path('app_musical_work_crud_delete', {'id': musical_work.id}) }}" onsubmit="return confirm('Etes vous sûr de vouloir effacer cette oeuvre');">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ musical_work.id) }}">
    <button class="btn btn-outline-danger my-lg-2">Effacer</button>
</form>
